.item {
  width: calc((100% - 48px) / 3);
  width: 360px;
  height: auto;
}

.img {
  display: block;
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease;
  cursor: zoom-in;
}

.img:hover {
  transform: scale(1.1);
}